.myPageMain {
    box-sizing: border-box;
    width: 800px;
    height: 100%;
    border: 2px solid #BCBCBC;
    margin-left: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.myPageTitle {
    font-size: 35px;
    line-height: 61px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #A8DBA8;
    margin-bottom: 20px;
}

.MyPageShop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 2em;
}

.myPageTop {
    width: 20%;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #194819;
    margin-bottom: -15px;
    cursor: pointer;
}

.myPageTopClicked {
    width: 20%;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #194819;
    margin-bottom: -15px;
    margin-right: 1em;
    cursor: pointer;
    border-bottom: 1px solid #194819;
}

.myShopTop {
    width: 20%;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #194819;
    margin-bottom: -15px;
    cursor: pointer;
}

.myShopTopClicked {
    width: 20%;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #194819;
    margin-bottom: -15px;
    margin-right: 1em;
    cursor: pointer;
    border-bottom: 1px solid #194819;
}

.myShopWrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.wrapperTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 15px;
    color: #145914;
}

.wrapperMid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.shopNum {
    margin-left: 0.5em;
}

.goToMyShopBtn {
    background-color: #E8EDE0;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 1em;
}